.content {
    margin-top: 70px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
}
.material-icons.md-58 { 
    font-size: 58px; 
}
img-circle{
    border-width: 50%;
}
.mat-elevation-z8 {
    box-shadow: none;
}
