.active{
    background-color: #13a3a3 !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(19, 163, 163, 0.5) !important;
    color: rgb(236, 234, 234)!important;
    font-weight: 500;
    i {
        color: rgb(235, 235, 235);  
    }
}